.member-img {
    width: 250px;
    height: 250px;
}

.card {
    .card-img-overlay {
        text-align: center;
        visibility: hidden;
    }
    &:hover {
        .card-img-overlay {
            visibility: visible;
        }
    }
}