<section class="page-section bg-primary portfolio" id="team">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Členovia tímu</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div *ngIf="team" class="card-deck">    
            <div *ngFor="let member of team" class="card text-white border-0">
                <img class="card-img" [src]="member.img" alt="Card image">
                <div class="card-img-overlay">
                  <h5 class="card-title">{{member.name}}</h5>
                  <p class="card-text">{{member.position}}</p>
                </div>
              </div>
        </div>
    </div>
</section>