<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">O projekte</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row text-center">
            <p class="lead">Cieľom tímového projektu je namodelovať a implementovať rezervačný systém pomocou špecifikačno-implementačného jazyku Petriflow. Systém má byť dostatočne generický na pokrytie širokého spektra prípadov. V systéme by malo byť umožnené nastaviť jednotku rezervácie (napr. izba v hotely, termín u lekára) a jednotku času rezervácie (rok, mesiac, deň).</p>
        </div>
        <!-- About Section Content-->
        <h3 class="text-center text-uppercase text-white my-3">Základné požiadavky</h3>
        <div class="row mt-3">
            <div class="text-center col-lg-4 ml-auto">
                <h4>Procesne riadená architektúra</h4>
                <p class="lead">systém je navrhnutý v jazyku Petriflow. Jeho fungovanie sa opiera o procesne riadenú architektúru ktorej základnými stavebnými prvkami sú Miesta(places) a prechody(Transitions)</p>
            </div>
            <div class="text-center col-lg-4 mr-auto">
                <h4>Generickosť</h4>
                <p class="lead">systém poskytuje možnosť vytvorenia inzerátu a jeho rezervácie nezávisle od typu podnikateľskej činnosti inzerenta (ubytovanie, gastronómia, lekár)</p>
            </div>
        </div>
    </div>
</section>