<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Team management</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://trello.com/b/guamnLr4/1ing-t%C3%ADmov%C3%A9-projekty" target="_blank">
                    <i class="fab fa-trello link"></i>
                </a>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Verziovanie práce</h4>
                <p>Stará webstránka</p>
                <a class="btn btn-outline-light btn-social mx-1 mb-5" href="https://github.com/xSimekj1/TP2019" target="_blank">
                    <i class="fab fa-github link"></i>
                </a>
                <p>Nová webstránka</p>
                <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/xSimekj1/TP2020" target="_blank">
                    <i class="fab fa-github link"></i>
                </a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">Odkaz na školský server</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="http://student.interes.group:8080/login" target="_blank">
                    <i class="fas fa-globe link"></i>
                </a>
            </div>
        </div>
    </div>
</footer>