<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="./assets/img/tplogo.png" alt=""><!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Booking</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Procesne riadený Rezervačný systém</p>
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="./assets/meetings/TP1ponuka.pdf" download><i class="fas fa-download mr-2"></i>Ponuka projektu</a>
        </div>
    </div>
</header>   