<section class="page-section mb-0" id="meetings">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase">Záznami zo stretnutí</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row text-center">
            <p class="lead">Práca na projekte bola rozdelovaná na týždňovej báze. Výsledky našej práce sú zachytené vo voľne dostupných stiahnuteľných zápisniciach.</p>
        </div>
        <!-- About Section Content-->
        <div class="row mt-3">
            <div class="text-center col-lg-6 ml-auto">
                <h4>Zimný Semester</h4>
                <div *ngFor="let meeting of meetings.winter" class="my-1 row d-flex justify-content-center">
                    <a [href]="meeting.file" class="btn btn-outline-primary meeting" download>
                        <span>{{meeting.name}}</span>
                        <span>{{meeting.date}}</span>
                        <i class="fas fa-download"></i>
                    </a>
                </div>
            </div>
            <div class="text-center col-lg-6 mr-auto">
                <h4>Letný semester</h4>
                <div *ngFor="let meeting of meetings.summer" class="my-1 row d-flex justify-content-center">
                    <a [href]="meeting.file" class="btn btn-outline-primary meeting" download>
                        <span>{{meeting.name}}</span>
                        <span>{{meeting.date}}</span>
                        <i class="fas fa-download"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>